* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #34ace0;
}

.main {
  display: flex;
  justify-content: center;

  padding-top: 2%;
  padding-bottom: 10%;
}

.boton {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 80px;
  width: 250px;
}
