* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Boton de salir */

.salir {
  /* position: absolute; */
  position: fixed;
  top: 1%;
  left: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.container h3 {
  margin-top: 1%;
  padding: 5%;
}
/* Actividad #7 */
/* Enunciado */
.enunciado {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  height: auto;
  width: auto;
  /* background-color: red; */
}

/* texto enunciado */
p {
  font-size: 25px;
}
input {
  height: 80%;
  width: 50px;
}

/* btn siguiente */
.btn-next {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

/* Actividad #8 */
.img {
  display: flex;
  justify-content: center;
}
.img {
  /* background-color: blue; */
  width: 50%;
  height: auto;
}

#imagen {
  width: 400px;
  height: 400px;
}

.silaba {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 35%;
  height: auto;
  margin-top: 5px;

  background-color: gray;
}
.silaba {
  border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  border: 15px solid gray;
}
.silaba > p {
  margin: 5px;
  font-size: 30px;
}

/* .silaba { */
/* background-color: magenta; */
/* width: 50%; */
/* height: auto; */

/* background-color: gray; */
/* } */

.respuesta {
  /* background-color: chartreuse; */
  width: 50%;
  height: 100px;
}
.respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rp {
  height: 70%;
  width: 70%;
  font-size: 20px;
}
