* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Boton de salir */

.salir {
  /* position: absolute; */
  position: fixed;
  top: 1%;
  left: 1%;
}

.container {
  display: flex;
  justify-content: center;
}
.container h3 {
  margin-top: 2%;
  padding: 5%;
}

/* Enunciado */
.enunciado {
  margin: 10%;
  margin-top: 5%;
  height: 400px;
  width: auto;
  background-color: red;
}
