* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #34ace0 !important;
}

/* Boton de salir */

.salir {
  /* position: absolute; */
  position: fixed;
  top: 1%;
  left: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.container h3 {
  margin-top: 1%;
  padding: 5%;
}
/* Actividad #7 */
/* Enunciado */
.enunciado {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  height: auto;
  width: auto;
  /* background-color: red; */
}

/* texto enunciado */
p {
  font-size: 25px;
}
input {
  height: 80%;
  width: 50px;
}

/* btn siguiente */
.btn-next {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
.btn-term {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
/* btn siguiente */
.cantPregunta {
  position: fixed;
  bottom: 0%;
  right: 15%;
}

/* Actividad #8 */
.img {
  display: flex;
  justify-content: center;
}
.img {
  /* background-color: blue; */
  width: 50%;
  height: auto;
}

#imagen {
  width: 350px;
  height: 350px;
}

.silaba {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 35%;
  height: auto;
  margin-top: 25px;
}

.silaba > p {
  margin: 5px;
  font-size: 30px;
}

.respuesta {
  /* background-color: chartreuse; */
  width: 50%;
  height: 100px;
}
.respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rp {
  margin-top: 35px;
  height: 70%;
  width: 70%;
  font-size: 20px;
  margin-top: 30px;
  max-height: 90%;
}

/* Actividad 10 */
/* .container {
  background-color: red;
} */
.elementos {
  height: auto;
  width: auto;
}
.elementos p {
  margin-right: 5px;
  margin-left: 5px;
  align-content: stretch;
}

.elementos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.test {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
}
.test input {
  width: 500px;
  margin: 5px;
  font-size: 20px;
}
.test .btn-next {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

#audio {
  margin-top: 105px;
}
