* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Boton de salir */

.salir {
  /* position: absolute; */
  position: fixed;
  top: 1%;
  left: 1%;
}

.container {
  display: flex;
  justify-content: center;
}
.container h3 {
  margin-top: 2%;
  padding: 5%;
}

/* Enunciado */
.enunciado {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  height: auto;
  width: auto;
  /* background-color: red; */
}

/* texto enunciado */
.enunciado {
  font-size: 25px;
}
/* btn siguiente */
.btn-next {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
