* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;

  padding-top: 2%;
  padding-bottom: 10%;
}

.boton {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lectura {
  height: 50px;
}
.escritura {
  margin-top: 10%;
  height: 50px;
}
.btn {
  height: 80px;
  width: 250px;
}
