* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

.boton {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
}

.btn-secondary {
  height: 80px;
  width: 250px;
}

.salir {
  /* position: absolute; */
  position: fixed;
  top: 2px;
  left: 4px;
}
