* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 10%;
}

.boton {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2%;
  padding-left: 10%;
}

.btn-secondary {
  height: 80px;
  width: 250px;
}

.salir {
  /* position: absolute; */
  position: fixed;
  top: 1%;
  left: 1%;
}

.mascota {
  height: 80px;
  width: 100px;
  background-color: blue;

  position: absolute;
  top: 50%;
  right: 10%;
}
